<!-- Teaching Experience Card -->
<div class="card shadow-sm rounded-xl my-4">
    <div class="card-body">
        <h5 class="card-title font-weight-bold">Teaching Experience</h5>
        <hr class="my-2">
        <ul class="list-unstyled">
            <li class="mb-2">
                <strong class="mr-2">Spring 2025:</strong>
                <a href="https://www.africa.engineering.cmu.edu/academics/courses/18-799-RW.html">Applied Computer Vision</a>
                <span class="text-muted">(Graduate Teaching Assistant)</span>
            </li>
            <li>
                <strong class="mr-2">Fall 2024:</strong>
                <a href="https://www.africa.engineering.cmu.edu/academics/courses/04-650.html">Mathematical Foundations of Machine Learning</a>
                <span class="text-muted">(Graduate Teaching Assistant)</span>
            </li>
        </ul>
    </div>
</div>
